{% extends 'base.html' %}{% load static %}
{% load ratings %}
{% block head_section %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}
{% block bodyblock %}
    <section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
            <div class="lg:w-4/5 mx-auto flex flex-wrap">
                <img alt="ecommerce" class="lg:w-1/3 w-full lg:h-auto h-50 object-cover object-center rounded" src="../media/{{ object.image }}">
                <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                    <h2 class="text-sm title-font text-gray-500 tracking-widest">{{ object.category }}</h2>
                    <h1 class="text-white text-3xl title-font font-medium mb-1">{{ object.name }}</h1>
                    <div class="flex mb-4">
                        <span class="flex items-center">
                        </span>
                        
                    </div>
                    <p class="leading-relaxed">{{ object.about }}</p>
                    <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-800 mb-5">
                    </div>
                    <div class="flex">
                        <span class="title-font font-medium text-2xl text-white"> &#8360 . {{ object.price }}</span>
                        {% if user.is_authenticated %}
                        <form method="POST">
                            <br />
                            {% csrf_token %}
                            <label class="quantity">
                                Quantity
                                <input type="number" name="quantity" placeholder="Enter quantity" min="1"  required="required">
                            </label>
                            
                            <input type="submit" value="Add to Cart" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
                        </form>
                        {% else %}
                        <a href="{% url 'commerce:login' %}">
                            <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Add to Cart</button>
                        </a>

                        {% endif %}
                    </div>
                    {% ratings object %}
                </div>
               
            </div>
            
        </div>
        
    </section>

{% endblock %}