
{% extends 'base.html' %}
{% block title %}
List
{% endblock %}
{% block bodyblock %}
<head>
    <style>
        .paginationproduct {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .paginationproduct a {
                color: white;
                float: left;
                padding: 10px 16px;
                text-decoration: none;
            }

                .paginationproduct a:hover:not(.active) {
                    background-color: #2471A3;
                    border-radius: 5px;
                }
    </style>
</head>
<section class="text-gray-400 bg-gray-900 body-font">

    <form action="{% url 'searchproduct' %}" method="GET" value="{{request.GET.q}}">
        <center><input type="text" name="q" value="{{request.GET.q}}" placeholder="Search Products.........." class=" bg-gray-800 rounded border border-gray-700 focus:border-red-500 focus:ring-2 focus:ring-red-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" /> </center><br>
       <center> <input type="submit" name="submit" value="Search" class="ml-4 inline-flex text-gray-400 bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-700 hover:text-white rounded text-lg" /></center>
    </form><br />
    {% if submitbutton == 'Search' and request.GET.q != '' %} {% if results %}
    <h1>Results for {{ request.GET.q }}</h1>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
            {% for result in results %}
            <div class="lg:w-1/5 md:w-1/2 p-4 w-full">
                <a href="{{ result.slug }}">
                    <div class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-relative object-center w-full h-full block" src="../media/{{ result.image }}">
                    </div>
                    <div class="mt-4">
                        <h3>{{ result.category }}</h3>
                        <p>{{ result.name }}</p>
                        <p> &#8360 . {{ result.price }}</p>
                        <p>Stock Available: {{ result.stock }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %} No search results for this query {% endif %} {% endif %}
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">

            {% for object in object_list %}
            <div class="lg:w-1/5 md:w-1/2 p-4 w-full">
                <a href="{{ object.slug }}">
                    <div class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-relative object-center w-full h-full block" src="../media/{{ object.image }}">
                    </div>
                    <div class="mt-4">
                        <h3>{{ object.category }}</h3>
                        <p>{{ object.name }}</p>
                        <p> &#8360 . {{ object.price }}</p>
                        <p>Stock Available: {{ object.stock }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="paginationproduct">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        <ul class="paginationproduct">
            {% if page_obj.has_previous %}
            <li><a href="?page=1">&laquo; First Page</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}">Previous Page</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">Next Page</a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">Last Page</a></li>
            {% endif %}
        </ul>
    </div>
</section>
{% endblock %}