
{% extends 'base.html' %}
{% block title %}
List
{% endblock %}
{% block bodyblock %}
<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
            {% for object in object_list %}
            <div class="lg:w-1/5 md:w-1/2 p-4 w-full">
                <a href="{{ object.slug }}">
                    <div class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-relative object-center w-full h-full block" src="../media/{{ object.image }}">
                    </div>
                    <div class="mt-4">
                        <h3>{{ object.category }}</h3>
                        <p>{{ object.name }}</p>
                        <p> &#8360 . {{ object.price }}</p>
                        <p>Stock Available: {{ object.stock }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}