{% extends 'base.html' %}
{% block title %}
Blogs
{% endblock %}
{% block bodyblock %}
<head>
    <style>
        .pagination {
            display: flex;
            justify-content: center;
            align-items:center;
        }
            .pagination a {
                color: white;
                float: left;
                padding: 10px 16px;
                text-decoration: none;
            }

                .pagination a:hover:not(.active) {
                    background-color: #2471A3;
                    border-radius: 5px;
                }
    </style>
</head>
<section class="text-gray-400 bg-gray-900 body-font">


    <form action="{% url 'searchblo' %}" method="GET" value="{{request.GET.q}}">
        <center><input type="text" name="q" value="{{request.GET.q}}" placeholder="Search Blogs.........." class=" bg-gray-800 rounded border border-gray-700 focus:border-red-500 focus:ring-2 focus:ring-red-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" /> </center><br>
        <center> <input type="submit" name="submit" value="Search" class="ml-4 inline-flex text-gray-400 bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-700 hover:text-white rounded text-lg" /></center>
    </form><br />
    {% if submitbutton == 'Search' and request.GET.q != '' %} {% if results %}
    <h1>Results for {{ request.GET.q }}</h1>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
            {% for result in results %}
            <div class="lg:w-1/5 md:w-1/2 p-4 w-full">
                <a href="{{ result.slug }}">
                    <div class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-relative object-center w-full h-full block" src="../media/{{ result.image }}">
                    </div>
                    <div class="mt-4">
                        <h3>{{ result.category }}</h3>
                        <p>{{ result.name }}</p>
                        <p> &#8360 . {{ result.price }}</p>
                        <p>Stock Available: {{ result.stock }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %} No search results for this query {% endif %} {% endif %}
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
            {% for object in object_list %}
            <div class="p-4 md:w-1/3">
                <div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="../../media/{{ object.image }}">
                    <div class="p-6">
                        <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">{{ object.name }}</h2>
                        <p class="leading-relaxed mb-3">{{ object.about | slice:":212"  }}...</p>
                        <div class="flex items-center flex-wrap ">
                            <a class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0">
                                <a href="../blogs/{{ object.slug }}">
                                    Learn More
                                </a>
                                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="pagination">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li><a href="?page=1">&laquo; First Page</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}">Previous Page</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">Next Page</a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">Last Page</a></li>
            {% endif %}
        </ul>
    </div>
</section>
{% endblock %}
