{% extends 'base.html '%}
{% block title %}
{% endblock %}
{{ object.name }}
{% block bodyblock %}
<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-800">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    <span class="font-semibold title-font text-white"></span>
                    <span class="mt-1 text-gray-500 text-sm">12 Jun 2019</span>
                </div>
                <div class="md:flex-grow">
                    <h2 class="text-2xl font-medium text-white title-font mb-2">{{ object.name }}</h2>
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="../../media/{{ object.image }}">
                    <p class="leading-relaxed">{{ object.about }}</p>
                </div>
                </div>
    </div>
</section>
{% endblock %}